<p class="text-success"><%= notice %></p>

<% content_for :title, "Tweets" %>
<div class="mb-3">
  <%= form_with(url: tweets_path, method: :get, local: true) do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Buscar Tweets", class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Buscar", class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>

<h1 class="my-4">Tweets</h1>

<div id="tweets" class="mb-4">
  <% @tweets.each do |tweet| %>
    <div class="tweet border rounded p-3 mb-3 shadow-sm">
      <%= tweet.description %> - <%= tweet.user_name %>
      <p>
        <%= link_to "Mostrar este tweet", tweet, class: "btn btn-link" %>
      </p>
    </div>
  <% end %>
</div>


<div>
  <% if @tweets.current_page == 1 %>
    <% if @tweets.next_page %>
      <%= link_to 'P치gina Siguiente', tweets_path(page: @tweets.next_page), class: 'btn btn-outline-primary' %>
    <% end %>
  <% elsif @tweets.current_page == @tweets.total_pages %>
    <% if @tweets.prev_page %>
      <%= link_to 'P치gina Anterior', tweets_path(page: @tweets.prev_page), class: 'btn btn-outline-secondary' %>
    <% end %>
  <% else %>
    <% if @tweets.prev_page %>
      <%= link_to 'P치gina Anterior', tweets_path(page: @tweets.prev_page), class: 'btn btn-outline-secondary' %>
    <% end %>
    <% if @tweets.next_page %>
      <%= link_to 'P치gina Siguiente', tweets_path(page: @tweets.next_page), class: 'btn btn-outline-primary' %>
    <% end %>
  <% end %>
</div>


<%= link_to "Nuevo Tweet", new_tweet_path, class: "btn btn-success" %>

